/*Colors
* E6E413
* 37443A
* 68B72E
* F8B514
* D90401
* 62A6A9
*
* FFBE00
* EF9A01
* 007CB7
* 010100
*/

@define-color selected-text #62A6A9;
@define-color text #FFFFFA;
@define-color base #010100;
@define-color border #37443A;
@define-color foreground #68B72E
@define-color background #FFBE00;
@define-color search-bar #EF9A01;
@define-color selected-box #007CB7;

window .box-wrapper {
    border: 2px solid alpha(@border, 0.0);
}

window .search-container,
window .search {
    background: alpha(@search-bar, 0.3);
    color: @foreground;
    border: 2px solid alpha(@border, 0.1 );
    border-radius: 10px;
    padding: 2px 8px;
    margin-top: 1px;
    font-size: 10px;
    font-weight: 400;
}

.box-wrapper {
    border-radius: 18px;
}

child:selected {
    border-radius: 10px;
    background-color: alpha(@selected-box, 0.16);
    transition: all 0.9s ease-in;
    transition: background-color 0.22s ease-in;
}

child:selected .item-box {
    transition: all 0.09s ease-in;
    margin-left: 10px;
}

child:selected .item-box * {
    color: @text;
}